body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    padding-bottom: 3rem; /* Add padding to prevent footer overlap */
}

header .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

section {
    padding: 2rem 0;
}

#projects .project {
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0; /* Reduced padding to decrease height */
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0; /* Ensure no margin around the paragraph */
}

footer div {
    margin-top: 0.5rem; /* Add slight spacing between text and links */
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}